*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, section{
    background-color: #EDEAEA;
    color: #0d095c;
}

header{
    background-color: #1A3E85;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

nav{
    background-color: #1A3E85;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.btn{
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1A3E85;
}

.area-login{
    font-size: 18px;
    color: #0d095c;
}

a, a:active, a:visited{
    text-decoration: none;
}


/* -------------------------------- */

.container {
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background-color: rgba(88, 144, 167, 0.5);
    width: 20%;
    height: 500px;
    border-radius: 15px;
}

.content > h2 {
    text-align: center;
    margin-top: 20px;
    color: #0d095c;
}

.form-login {
    display: flex;
}

.box {
    width: 100%;
    margin: 20px;
    padding: 5px;
}

.box-container {
    margin-bottom: 20px;
}

.box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.box-content > p {
    background-color: aqua;
}

.box-content > input {
    border-radius: 5px;
    padding: 3px;
}

.conect > p{
    margin: 10px 0;
}

.btn-center {
    display: flex;
    justify-content: center;
    
}

.button-login{
    margin: 10px 0;
    justify-content: center;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #1A3E85;
    width: 150px;
    height: 50px;
}

.button-login > a:visited {
    color: #0d095c;
}

.register {
    margin: 10px 0;
    text-align: center;
}

/* -------------------------------- */

footer{
    background-color: #1A3E85;
    display: flex;
    margin-top: 50px;
    height: 50px;
}

.ul-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
}

.link-footer{
    color: white;
    width: 100%;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 50;
    right: 50;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #090a09;
    color: #206620;
  }
  
  .visible {
    display: block;
    margin-top: -35px;
  }