*{
    margin: 0;
    padding: 0;
}

body, section {
    background-color: #EDEAEA;
    color: #0d095c;
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-login {
    padding: 40px;
    z-index: 60;
    position: relative;
    max-width: 350px;
    height: 400px;
    margin-left: 50%;
    display: flex;
    background-color: rgba(88, 144, 167, 0.5);
    border-radius: 15px;
    box-sizing: border-box;
    transform: translateX(-50%);
    margin-top: 45px;
}

.input-box {
    margin-bottom: 0 0 10px;

}

    .login-body {
        color: #0d095c;
}

    .btn-three{color: #FFF;
        transition: all 0.5s;
        position: relative;
        text-align: center;
        width: 130px;
        height: 15px;
        font-size: large;
        margin-left: 60px;
}

    .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

    .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

    .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

    .btn-three:hover {
     background-color: #0d095c;   
     
}



.input-box {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 100px;
    margin-bottom: 10px;
}

header {
    background-color: #1A3E85;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

nav {
    background-color: #1A3E85;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.link-logo-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.btn {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1A3E85;
}

.area-login {
    font-size: 18px;
    color: #0d095c;
}

a, a:active, a:visited{
    text-decoration: none;
}
footer {
    background-color: #1A3E85;
    display: flex;
    margin-top: 50px;
    height: 50px;
}

.ul-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
}

.link-footer {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{ 
    font-family: 'Roboto', sans-serif;
}
